Django==1.7
dj-database-url==0.3.0
dj-static==0.0.6
django-debug-toolbar==1.2.1
django-toolbelt==0.0.1
gunicorn==19.1.1
jingo==0.7
psycopg2==2.5.4
wsgiref==0.1.2
django-debug-toolbar-template-timings==0.6.4

